<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sekao.russian101">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/oakleaf" >
        <activity
            android:name=".LessonListActivity"
            android:label="@string/title_lesson_list"
            android:theme="@style/oakleaf_transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LessonDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonListActivity" />
        </activity>
        <activity
            android:name="net.sekao.russian101.GalleryActivity" >
        </activity>
    </application>

</manifest>
